<!-- Search Bar -->
<form>
    <div class="my-3 mx-12">
        <div class="flex flex-col sm:flex-row items-center">

            <div
                class="mt-2 sm:ml-2 flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:w-3/4 w-full">
                <input type="text" name="job-search-bar" id="job-search-bar" autocomplete="job-search-bar"
                    class="flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                    placeholder="Javascript developer in TX">
            </div>
            <div class="mt-2 mx-2 w-full sm:w-28">
                <button type="submit"
                    class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 w-full">Search
                    Jobs</button>
            </div>
        </div>

    </div>
</form>

<div class="grid  grid-cols-1 sm:grid-cols-2 gap-2 mx-4">
    <!-- Left column -->
    <ul role="list" class="divide-y divide-gray-100 gap-y-10 min-h-screen">
        {{#each jobResults as |jobResult|}}
        {{> jobResultCard}}
        {{/each}}
    </ul>

    <!-- Right column -->
    <div class="lg:items-center lg:justify-between hidden sm:block sm:col-start-2 z-0 pt-3">

    </div>

</div>