       
<!-- Search Bar -->


<div class="grid  grid-cols-1 gap-2 mx-4">
    <div class="lg:items-center lg:justify-between  sm:block sm:col-start-2 z-0 pt-3">
        {{#if fullInfo}}
        {{> jobResultFullInfo}}
        {{/if}}
    </div>

</div>


